.menu{
display: flex;
justify-content: space-between;
font-size: 20px;
background-color: #000000;
color: #ffffff;
}
.bodyimg{
border: 2px solid #000000;
border-radius: 50px;
position:relative
}
.bodyimg p{
    position:absolute;
    font-size: 60px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0; 
}
.bodyimg:hover p{
    opacity:1;
}
.bodyimg:hover img{
    opacity:0.4;
}
.facts{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    border: dotted;
    border-radius: 50px;
}
a:link{
    color:white
}
a:visited{
    color:white
}
.lit{
    padding-left: 25px;
    justify-content: space-between;
}